<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JaSt.HashPasswordSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <JaSt.HashPasswordSharp.Properties.Settings>
            <setting name="LastConfigFilepath" serializeAs="String">
                <value />
            </setting>
            <setting name="HashType" serializeAs="String">
                <value>SHA512</value>
            </setting>
            <setting name="PasswordLength" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Charset" serializeAs="String">
                <value>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-_0123456789!"§$%&amp;/()=?*'+#.;:</value>
            </setting>
            <setting name="AppIcon" serializeAs="String">
                <value>Crystal_Clear_action_lock-silver.ico</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearOnExit" serializeAs="String">
                <value>True</value>
            </setting>
        </JaSt.HashPasswordSharp.Properties.Settings>
    </userSettings>
</configuration>
